<div style="display: flex; flex-direction: row; justify-content: space-between;  align-items: center; margin-right: 50px; margin-left: 10px;">
        
        <form method="get" action="{% url 'blog:search_results' %}">
                {% csrf_token %}
                <input type="search" placeholder="Search" name="searched">
                <button type="submit">Search</button>
            </form>
        <p><a href="{% url 'blog:home' %}" style="margin-right: 10px;">Home</a></p>
    {% if user.is_authenticated %}
            <p><a href="{% url 'logout' %}" style="margin-right: 10px;">Log Out</a></p>
            <a href="{% url 'blog:create_post' %}"><button>Create new Post</button></a>
    
    
    {% else %}
            <a href="{% url 'login' %}" style="margin-right: 5px;">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        
    {% endif %}
</div>
