{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}

<h1>{{ post.title }} </h1>
<p>{{ post.author }} | {{ post.created_on }}</p>
<p>{{ post.content }}</p>
{% if user.is_authenticated and post.author == user %}
<form method="post">
    {% csrf_token %}
    <label for="post_content_text">Edit Blog</label>
    <textarea id="post_content_text" name="post_content_text">{{ post.content }}</textarea>
    <button type="submit">Save</button>
</form>
<form method="post" action="{% url 'blog:post_delete' post.pk %}">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>

{% endif %}

{% endblock content %}
